html, body {
	margin: 0; padding: 0;
	font-family: 'Poppins', sans-serif;
}

.header_font1{
	margin-left: 10%;
	margin-top: 2.2%;
	width: 3%;
}

.header{
	background-color: #333332;
	position: absolute;
	width: 100%;
	height: 12%;
}

.margin_photo{
	margin-left: 0.5%;
	margin-right: 3%;
}

.header_font2{
	color: white;
	float: right;
	margin-top: 1.2%;
	margin-right: 9%;
}

.margin-td{
	width: 15%;
}

.footer{
	background-color: #333332;
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 40%;
}

.footer_font1{
	width: 3%;
	margin-left: 8%;
	margin-top: 6.2%;
}

.table-footer{
	text-align: center;
	color: white;
	float: right;
	margin-top: 6%;
	font-size: 17px;
	margin-right: 10%;
}

.visit-us{
	background-color: #eda151;
	padding: 2%;
	width: 16%;
	color: white !important;
}

.margin-td2{
	width: 6%;
}

.line-footer{
	margin-top: 6%;
}

.line1{
border-top: 2px solid white;
width: 2.5%;
float: left;
}

.line2{
border-top: 2px solid white;
width: 91.5%;
float: right;
}

.table-body{
	text-align: center;
	color: #333332;
	float: right;
	margin-top: 6%;
	font-size: 17px;
	margin-right: 10%;
	margin-top: 8%;
}


.img1{
	margin-left: 70%;
	width: 30%;
	height: 500px;
	margin-top: -20%;

}

.vertical-vibe{
margin-top: 16%;
margin-left: 7.5%;
}

.welcome{
	width: 400px;
	margin-left: 27%;
	margin-top: -21.8%;
}

.welcome-h1{
	font-weight: bold;
	margin-bottom: 12%;
}

.visit-us-button{
	background-color: white;
	border-color: #eda151;
	color: #eda151;
	padding: 2%;
}

.line-vibe{
margin-top: -17.6%;
}

.line3{
border-top: 2px solid black;
width: 2.5%;
float: left;
}

.line4{
border-top: 2px solid black;
width: 25%;
margin-left: 4%;
float: left;
}

.our-story{
	width: 400px;
	margin-left: 27%;
	margin-top: 7%;
	margin-bottom: 15%;
}

.line-story{
margin-top: -23.5%;
}

.eclipse{
position: absolute;
margin-left: -41px;
margin-top: 12px;
}

.eclipse-table{
	position: absolute;
	margin-top: 23%;
	margin-left: 19%;
}

.img-cafe{
	width: 50%;
	height: 550px;
	margin-top: 15%;
	margin-left: -15%;
	margin-bottom: 1%;
}

.txt-cafe{
	font-weight: bold;
	margin-left: 31%;
	margin-bottom: 10%;
}

.eclipse-cafe{
	margin-left: -8%;
}

.black-div{
	background-color: #333332;
	padding: 5%;
	width: 66%;
	margin-left: 24%;
	position: absolute;
	z-index: -1;
	margin-bottom: 20%;
}

.black-div-p{
	color: white;
	width: 63%;
}

.black-div-p-form{
	margin-left: 13%;
}

.black-div-form{
margin-top: 5%;
}

input{
	margin: 1.5%;
	margin-left: 0%;
	height: 40px;
	width: 45.2%;
	margin-right: 3.2%;
}

input.text-area{
	height: 200px;
	width: 95%;
	margin-right: 0%;
}

input.black-div-submit{
	width: 6%;
	margin-left: 90%;
	height: 35px;
}

input::-webkit-input-placeholder {
  color: #333332;
}

.book-div{
	background-color: #eda151;
	margin-top: 16.5%;
	z-index: 1;
	width: 32%;
}

.book{
	margin-left: 32%;
	margin-top: 35%;
	height: 350px;
}

.our-values{
	margin-top: 13%;
}

.quality-coffee{
	text-align: center;
	margin-top: 29.8%;
	margin-bottom: 12%;
	color: #eda151;
	width: 15%;
	padding: 2%;
	margin-left: 38.5%;
	border-width: 2px;
	border-style: solid;
	border-color: #eda151;
	opacity: 0.8;
	border-radius: 10px;
	height: 530px;
	width: 23%;
	margin-left: 36.5%;
}

.quality-coffee-p{
	margin-top: 15%;
}

.coffee-p-middle{
	font-size: 20px;
	margin-top: 13%;
}

.quality-coffee-h1{
	font-weight: bold;
	opacity: 1 !important;
	margin-bottom: 15%;
	margin-top: 16%;
}

.coffee-h1{
	margin-top: 22% !important;
}

.coffee2{
	height: 400px !important;
	color: #333332 !important; 
	border-color: #333332 !important;
	float: left;
	margin-left: -25%;
	margin-top: 18%;
	width: 16.5% !important;
}

.coffee3{
	float: right !important;
	margin-right: 7%;
	margin-top: -41%;
}